.navbar-default {
  background-color: #F0F5FF;
}

.navbar-nav>li>a:hover {
    background-color: cyan
}

div:not(h3):not(h4) {
  font-size: 20px;
}

h3 {
  text-decoration: underline;
}

p {
  text-indent: 35px;
}

